.trendings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 19vh 15px 20px;
}
.trendings::-webkit-scrollbar {
  display: none;
}

.top__scroller {
  color: #fff;
  position: fixed;
  bottom: 13%;
  right: 5%;
  height: 100px;
  font-size: large;
  background: red;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 90;
}

/* @media (min-width: 768px) {
  .trendings {
    justify-content: space-around;
  }
} */
