.tv__Series {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 19vh 15px 20px;
}
.tv__Series::-webkit-scrollbar {
  display: none;
}
