.home {
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 10vh 0 0;
  flex-direction: column;
}

.home__contents {
  position: relative;
  width: 100%;
  height: 100vh;
}

.testimonials {
  display: flex;
  flex-direction: column;
}

.testimonials img {
  object-fit: contain;
  width: 150px;
  margin: 8px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}
.testimonials img:hover {
  transform: scale(1.05);
}

.home__contents img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  width: 100%;
}

.homeImg__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.87);
}

.hero__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  width: 100%;
  height: 10vh;
  text-align: center;
}
.hero__contents .animate__text {
  text-align: justify;
  letter-spacing: 1px;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
}

.contact__us p {
  font-size: 13px;
}

.Typewriter {
  display: inline !important;
}

@media (min-width: 768px) {
  .hero__contents h3 {
    font-size: 2rem;
  }
  .hero__contents .animate__text {
    width: 35%;
  }
}
