.botton__Navigation {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  transition: all 1s ease-out;
  z-index: 90;
}

.botton__Navigation__contents {
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  background: #041562;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 7px;
}

.botton__Navigation__contents a {
  text-decoration: none;
}

.botton__icons {
  color: #fff;
}

.botton__icons__active {
  color: red;
}
