.search__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 28vh 15px 20px;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
}
.search__cards::-webkit-scrollbar {
  display: none;
}

.search__contents {
  width: 100%;
  position: fixed;
  top: 14%;
  z-index: 90;
  background: #353636;
  color: red;
  padding-bottom: 1px;
}
