.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 19vh 15px 20px;
}
.movies::-webkit-scrollbar {
  display: none;
}

/* @media (min-width: 768px) {
  .movies {
    justify-content: center;
  }
} */
